<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.soma_app_demo3">

    <application
        android:label="SOMA Demo"
        android:icon="@mipmap/ic_launcher">
        <!-- حتماً از v2 embedding استفاده شود: اکتیویتی خود پروژه -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- هیچ کدام از این‌ها نباید وجود داشته باشند:
             android:name="io.flutter.app.FlutterApplication"
             activity android:name="io.flutter.app.FlutterActivity"
             meta-data مربوط به v1 (SplashScreenUntilFirstFrame و …)
        -->
    </application>
</manifest>
